body{
    background-color: #328f8a;
    background: rgb(186, 232, 232);
    background: linear-gradient(0deg, rgba(186, 232, 232, 1) 0%, rgba(177, 231, 158, 1) 100%);
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .forgot-password-page {
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
  }
  
  .forgot-password-header h3 {
    color: #ffffff;
    font-size: 25px;
  }
  
  .forgot-password-form {
    position: relative;
    z-index: 1;
    background: #4CAF50;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: center;
    border: 1px solid #4CAF50;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .forgot-password-form input {
      font-family: 'Lexend', sans-serif;
    color: #000000;
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    border-radius: 11px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
  }
  
  .forgot-password-form button {
      font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #8DBC71;
    border: 2px solid #3E893E;
    border-radius: 11px;
    width: 70%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .forgot-password-form .message {
      color: #FFFFFF;
    text-decoration: none;
  }
  
  .forgot-password-form .message a {
    color: #FFFE3E;
    text-decoration: none;
  }
  