body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(245, 245, 245);
    background: linear-gradient(176deg, rgba(245, 245, 245, 1) 0%, rgba(102, 160, 144, 1) 94%);
}

.container {
    display: flex;
    border: 0;
    margin-top: 10%;
    padding: 10%;
}

.section1 {
    border: 2px groove #ccc;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.section2 {
    border: 2px groove #ccc;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.username-info-description {
    display: flex;
}

.username-pic {
    display: flex;
    align-items: center; /* Align items vertically in the flex container */
}

.user {
    margin-left: 5%; /* Adjust the margin as needed */
}

.username-info {
    padding: 12px;
}

.username-label {
    font-size: 18px;
    font-weight: 500;
}

hr {
    opacity: 100%;
    width: 100%;
    border: 1;
    border-top: 2px solid #000;
    margin: auto;
}

.account-settings-links {
    background-color: #f8f9fa;
    border: none;
    display: flex;
    flex-direction: column;
}

.list-group-item {
    cursor: pointer;
    border: none;
}

.list-group-item.active {
    background-color: #6ABA8C;
    color: #fff;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.form-group button{
    float: right;
}

.form-group {
    padding: 1%;
}